* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr fr;
    background: #15202b;
}

.header {
    color: #F2FAFF;
}

.title {
    font-family: 'Rubik Iso', cursive;
    font-size: 4rem;
}


.subtitle {
    font-family: 'Rubik Iso', cursive;
    font-size: 3rem;
}

.instructions {
    font-family: 'Genos', sans-serif;
    font-size: 2rem;
}
.box {
    margin-top: 40%;
    padding: 1rem;
    background: #e3e3dc;
    border-radius: 8px;
    justify-self: center;
}

.buttons__container {
    width: ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    
}

.play-buttons {
    width: 30vw;
    height: 30vw;
    box-shadow: 2px 2px  8px #000, 4px 4px 16px #000;
    border-radius: 1rem;

}
.play-buttons:active {
    box-shadow: inset -2px -2px 8px #000, inset 2px 2px 8px rgb(234, 223, 223);

} 

.button__top-left {
    border: 1rem solid #FF006F;
    background: #FF006F;
}
.button__top-right {
    border: 1rem solid #4A62FF;
    background: #4A62FF;
}

.button__bottom-left {
    border: 1rem solid #f4fc09;
    background: #f4fc09;
}
.button__bottom-right {
    border: 1rem solid #009700;
    background: #009700;
}

@media screen and (orientation: landscape) {

    body {
        display: flex;
        justify-content: center;
        margin-top: 10%;

    }

    .header {
        width: 40%;
        padding: 2rem;

    }
    .box {
        margin-top: initial;
        flex-grow: 2;

    }
    .play-buttons {
        width: 20vw;
        height: 20vw;
    }

    .buttons__container {
        align-content: center;
    }
}

@media screen and (min-width: 800px) {
    .box {
        max-width: 70vw;
    }
}