* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #15202b;
}

.header {
    color: #F2FAFF;
}

.title {
    text-align: center;
    font-family: 'Rubik Iso', cursive;
    font-size: 4rem;    
    color: #fff;
    text-shadow: 0 0 6px #fff, 0 0 12px #fff, 0 0 18px #fff, 0 0 24px #730AFF, 0 0 30px #730AFF, 0 0 36px #730AFF, 0 0 36px #730AFF, 0 0 42px #730AFF, 0 0 48px #ff0a16;
}

.subtitle {
    text-align: center;
    font-family: 'Rubik Iso', cursive;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 6px #fff, 0 0 12px #fff, 0 0 18px #fff, 0 0 24px #ff0a16, 0 0 30px #ff0a16, 0 0 36px #ff0a16, 0 0 36px #ff0a16, 0 0 42px #ff0a16, 0 0 48px #ff0a16;
}


.instructions {
    font-family: 'Genos', sans-serif;
    font-size: 2rem;
    padding: 0 1rem;
}
.menu {
    position: relative;
    display: flex;
    justify-content: center;
}
.menu__button_start {
    font-family: 'Genos', sans-serif;
    font-size: 1.6rem;
    color: #501DFF;
    padding: .6rem 2rem;
    cursor: pointer;
    border-radius: 1rem 3rem;
    border: 1px solid rgb(52, 224, 240);
    background-image: linear-gradient(180deg, #51D4CA 0%, #00766D 100%);
    box-shadow: 0 8px 10px 0 #ffffff33, 0 2px 8px #51D4CA inset, 0 6px 6px #ffffff66 inset, 0 1px 6px 0 #00766D inset;
}

.box {
    padding: 2rem;
    background: #e3e3dc;
    border-radius: 8px;
    margin: 2% 3% 10% 3%;

}

.buttons__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 2rem;
    column-gap: 2rem;
    
}

.play-buttons {
    cursor: pointer;
    width: 30vw;
    height: 30vw;
    box-shadow: 2px 2px  8px #000, 4px 4px 16px #000;
    border-radius: 1rem;

}
.play-buttons:active {
    box-shadow: inset -2px -2px 8px #000, inset 2px 2px 8px rgb(234, 223, 223);

} 

.button__top-left {
    border: 1rem solid #FF006F;
    background: #FF006F;
}
.button__top-right {
    border: 1rem solid #4A62FF;
    background: #4A62FF;
}

.button__bottom-left {
    border: 1rem solid #f4fc09;
    background: #f4fc09;
}
.button__bottom-right {
    border: 1rem solid #009700;
    background: #009700;
}



@media screen and (min-width: 500px) {

    .instructions {
        max-width: 60vw;
    }
    .box {
        align-self: center;
    }

    .play-buttons {
        width: 12vw;
        height: 12vw;
    }
}
